@import url('https://fonts.cdnfonts.com/css/manga-temple');

/* BASIC SITE ELEMENTS */

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Manga Temple', sans-serif;
    cursor: crosshair;
}
div {
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-top: 20px;
    margin-bottom: 10px;
}
h5 {    
    margin-left: 10%;
    margin-right: 15px;
    letter-spacing: .5px;
    line-height: 20px;
}
img {
    max-width: 60%;
    max-height: auto;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* CLASS */
.border {
    border:2px solid red;
}
.flex-parent {
    display: flex;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 20px;
}

.button-drop-down {
    float: left;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 150px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: 'Manga Temple', sans-serif;
    display: flex;
    font-size: 10px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-drop-down:hover,
.button-drop-down:focus { 
    background-color: #000000;
    color: #ffffff;
}

.button-drop-down:active {
    background: #668fb9;
    color: rgba(29, 35, 37, 0.7);
}

.button-drop-down:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.box {
    overflow: scroll;
}

.panels-g1 {
    display: grid;
    grid-template-columns: 8fr 1fr 8fr;
    
}

.panel-1 {
    grid-column: 1 / 2;
    z-index: 1;
    border: 2px solid black;
}

.panel-2 {
    grid-column: 3;
    border: 2px solid black;
}

/* IDs */

#title {
    text-align: center;
    margin:auto;
    margin-bottom: 10px;
}