body {
    background-color: #2C363F;
}

.name-container {
    border: 2px solid;
    color: white;
    display: grid;
    align-self: center;
    text-align: center;
    align-content: center;
    width: 70%;
    height: 150px;
    padding: 10px;
    margin: auto;
    border-radius:10px;
    font-size:6vw;
    margin-top: 50px;
    margin-bottom: 20px;
}

.nav-button-center {
    text-align: center;
    margin-inline: 30px;
}
.nav-button {
    background-color: #2C363F;
    border: 2px solid;
    border-color: white;
    width: 13%;
    height: 35px;
    font-size: 1.5vw;
    color:white;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-button:hover {
    background-color: white;
    color: black;
}

.about-section {
    margin-top: 50px;
    margin-left: 5%;
    color: white;
    font-size: 2vw;
}
  